<div class="navbar">
  <div class="logo">
    <img class="wh"  src="assets/logo.png">
</div>
<div class="menus">
   
  <a class="menu cool-link">
    Careers
  </a>
  <a class="menu cool-link">
      About us
    </a>
   
    <span class="navBar__btnQuote  ">
      Request a qoute
    </span>
</div>
</div>

<div class="main-page">
    
  <div class="grid">
    <div class="content">
      
        
          <particles class="particles" [style]="style" [width]="width" [height]="height" [params]="params"></particles>

          <div class="foo">
            
            
            <div class="hd"> <span class="letter hed" data-letter="C">C</span><span class="letter" data-letter="r">r</span><span class="letter" data-letter="e">e</span> <span class="letter" data-letter="a">a</span><span class="letter" data-letter="t">t</span><span class="letter" data-letter="e">e</span></div> 
           <div class="hd"> <span class="letter hed" data-letter="I">I</span><span class="letter " data-letter="m">m</span> <span class="letter" data-letter="a">a</span><span class="letter" data-letter="g">g</span> <span class="letter" data-letter="i">i</span><span class="letter" data-letter="n">n</span><span class="letter" data-letter="e">e</span></div>
            <div class="hd">  <span class="letter hed" data-letter="E">E</span><span class="letter " data-letter="m">m</span> <span class="letter" data-letter="p">p</span><span class="letter" data-letter="o">o</span> <span class="letter" data-letter="w">w</span><span class="letter" data-letter="e">e</span><span class="letter" data-letter="r">r</span></div>
             
            </div>
           
         
    </div>

    <div class="animation">
      <div class="vd">
        <video autoplay loop>
            <source src="assets/ringa.mp4" type="video/mp4">
        </video>
      </div>
 
    </div>
  </div>
 
</div>